<a href="{% url 'persons:person_add' %}">Add new person</a>

{% if person_list %}
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>RNC</th>
            <th>Age</th>
            <th></th>
            <th></th>
        </tr>
        {% for person in person_list %}
            <tr>
                <td>{{person.first_name}}</td>
                <td>{{person.last_name}}</td>
                <td>{{person.rnc}}</td>
                <td>{{person.age}}</td>
                <td><a href="{% url 'persons:person_edit' person.id %}">Edit</a></td>
                <td><a href="{% url 'persons:person_delete' person.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No persons are available.</p>
{% endif %}