@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

a {
    color: #4e8cff; /* Link color in dark mode */
}

a:hover {
    color: #2a5da7; /* Link color on hover in dark mode */
}

body {
    background-color: #1a1a1a; /* Dark background color */
    color: #ffffff; /* Light text color */
}

.container {
    background-color: #2d2d2d; /* Dark container background color */
    color: #ffffff; /* Light text color inside the container */
    max-width: 700px; /* Adjust the width as needed */
    margin-right: auto;
    margin-left: auto;
}

.link-custom-color {
    color: #4e8cff;
}

.link-custom-color:hover {
    color: #2a5da7; /* Link color on hover in dark mode */
}