{% extends 'main/detail.html' %}

{% block back_link %}{% url 'persons:author_index' %}{% endblock %}

{% block extra_fields %}
    <p class="card-text">RNC: {{ model.rnc }}</p>
    <p class="card-text">Age: {{ model.age }}</p>
    <h5 class="card-subtitle mb-2 mt-4">Written Books:</h5>
    <ul class="list-group bg-dark border-light">
        {% for item in model.books.all %}
            <a class="list-group-item list-group-item-action bg-dark border-light link-custom-color" href="{% url 'libraries:book_detail' item.id %}">{{item}}</a>
        {% endfor %}
    </ul>
{% endblock %}

{% block edit_link %}{% url 'persons:author_update' model.id %}{% endblock %}