{% extends 'main/update.html' %}

{% block index_link %}{% url 'persons:author_index' %}{% endblock %}
{% block model%}author{% endblock %}

{% block form_fiels%}
  <div class="form-group">
    {{form.first_name.label_tag}} {{form.first_name}}
  </div>
  <div class="form-group">
    {{form.last_name.label_tag}} {{form.last_name}}
  </div>
  <div class="form-group">
    {{form.alias.label_tag}} {{form.alias}}
  </div>
  <div class="form-group">
    {{form.rnc.label_tag}} {{form.rnc}}
  </div>
  <div class="form-group">
    {{form.birthday.label_tag}} {{form.birthday}}
  </div>
{% endblock %}