{% block content %}
  <a href="{% url 'persons:author_index' %}">Go back</a>
  <h1>Create a new author</h1>
  {% comment %} {% if person %}
    <h2>The last person created was {{person}} with age: {{person.age}}</h2>
  {% endif %} {% endcomment %}
  <form method="post">
    {% csrf_token %}
    {{form.first_name.label_tag}} {{form.first_name}}</br></br>
    {{form.last_name.label_tag}} {{form.last_name}}</br></br>
    {{form.alias.label_tag}} {{form.alias}}</br></br>
    {{form.rnc.label_tag}} {{form.rnc}}</br></br>
    {{form.birthday.label_tag}} {{form.birthday}}</br></br>
    <button type="submit">Save</button>
  </form>
{% endblock %}

{% if form.errors %}
  <div class="error">
    <p>Please correct the following errors:</p>
    {{ form.errors }}
  </div>
{% endif %}