<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Practice</title>

    <!-- Add your common styles here -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/base.css' %}">

    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class='container mt-5 pb-2'>
        {% block content %}{% endblock %}
    </div>

    <!-- Add your common scripts here -->
    {% block extra_scripts %}{% endblock %}
</body>
</html>
