{% extends 'main/base.html' %}

{% block content %}
  <h1>Create a new {% block model %}model{% endblock %}</h1>
  <form method="post" class="form" id="{% block form_id %}form{% endblock %}" action="{% block action_link %}{% url 'main' %}{% endblock %}">
    {% csrf_token %}
    {% block form_fields %}{% endblock %}
    <div class="container mt-3 text-center">
      <button type="submit" class="btn btn-primary mb-2">Save</button>
    </div>
  </form>

  {% comment %} {% if form.errors %}
    <div class="error">
        <p>Please correct the following errors:</p>
        {{ form.errors }}
    </div>
  {% endif %} {% endcomment %}
  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field in form.visible_fields %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}
    </div>
  {% endif %}

  {% block modal %}{% endblock %}
{% endblock %}

