{% extends 'main/base.html' %}

{% block content %}
  <h1>Edit a {% block model%}model{% endblock %}</h1>
  <form method="post" class="form">
    {% csrf_token %}
    {% block form_fields%}{% endblock %}
    <div class="container mt-3 text-center">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>

  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field in form.visible_fields %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}
    </div>
  {% endif %}
{% endblock %}