{% block content %}
  <a href="{% url 'libraries:rent_index' %}">Go index</a>
  <h1>Edit a rent</h1>
  <form method="post">
    {% csrf_token %}
    {{form.book.label_tag}} {{form.book}}</br></br>
    {{form.customer.label_tag}} {{form.customer}}</br></br>
    {{form.employee.label_tag}} {{form.employee}}</br></br>
    {{form.library.label_tag}} {{form.library}}</br></br>
    {{form.due_date.label_tag}} {{form.due_date}}</br></br>
    <button type="submit">Update</button>
  </form>
{% endblock %}

{% if form.errors %}
  <div class="error">
    <p>Please correct the following errors:</p>
    {{ form.errors }}
  </div>
{% endif %}