<a href="{% url 'libraries:libraries_index' %}">Go back</a>
<a href="{% url 'libraries:rent_create' %}">Create new rent</a>

{% if rent_list %}
    <table>
        <tr>
            <th>Book</th>
            <th>Customer</th>
            <th>Employee</th>
            <th>Library</th>
            <th>Rent Date</th>
            <th>Due Date</th>
            <th></th>
            <th></th>
        </tr>
        {% for rent in rent_list %}
            <tr>
                <td>{{rent.book}}</td>
                <td>{{rent.customer}}</td>
                <td>{{rent.employee}}</td>
                <td>{{rent.library}}</td>
                <td>{{rent.rent_date}}</td>
                <td>{{rent.due_date}}</td>
                <td><a href="{% url 'libraries:rent_detail' rent.id %}">Detail</a></td>
                <td><a href="{% url 'libraries:rent_update' rent.id %}">Edit</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No rents are available.</p>
{% endif %}