{% extends 'main/index.html' %}

{% block back_link %}{% url 'libraries:libraries_index' %}{% endblock %}
{% block name_list%}Rent{% endblock %}
{% block create_link %}{% url 'libraries:rent_create' %}{% endblock %}
{% block model_name%}rent{% endblock%}

{% block table_headers %}
    <th>Book</th>
    <th>Customer</th>
    <th>Employee</th>
    <th>Library</th>
    <th>Rent Date</th>
    <th>Due Date</th>
{% endblock %}

{% block table_fields%}
    <td>{{item.book}}</td>
    <td>{{item.customer}}</td>
    <td>{{item.employee}}</td>
    <td>{{item.library}}</td>
    <td>{{item.rent_date}}</td>
    <td>{{item.due_date}}</td>
{% endblock %}

{% block detail_link %}{% url 'libraries:rent_detail' item.id%}{% endblock %}
{% block edit_link %}{% url 'libraries:rent_update' item.id%}{% endblock %}

{% block no_list %}rents{% endblock %}