{% extends 'main/detail.html' %}

{% block extra_fields %}
    <p class="card-text">Book: <a href="{% url 'libraries:book_detail' model.book.id%}">{{ model.book }}</a></p>
    <p class="card-text">Amount: {{ model.amount_to_rent }}</p>
    <p class="card-text">Employee: <a href="{% url 'persons:employee_detail' model.employee.id%}">{{ model.employee }}</a></p>
    <p class="card-text">Library: <a href="{% url 'libraries:library_detail' model.library.id%}">{{ model.library }}</a></p>
    <p class="card-text">Rent Date: {{ model.rent_date }}</p>
    <p class="card-text">Status: {{ model.status }}</p>
    <p class="card-text">Created Date: {{ model.created_date }}</p>
    <p class="card-text">Modified Date: {{ model.modified_date }}</p>
{% endblock %}

{% block edit_link %}{% url 'libraries:rent_update' model.id %}{% endblock %}