{% extends 'main/create_form.html' %}

{% block model%}rent{% endblock %}

{% block form_id %}rent_form{% endblock %}
{% block action_link %}{% url 'libraries:rent_create' %}{% endblock %}

{% block form_fields%}
  <div class="form-group">
    {{form.library.label_tag}} {{form.library}}
  </div>
  <div class="form-group row">
    <div class="col-sm-8">
      {{form.book.label_tag}} {{form.book}}
    </div>
    <div class="col-sm-2 align-self-end">
      <input type="text" id="availableBooks" class="form-control" readonly value="0">
    </div>
    <div class="col-sm-2 align-self-end">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createBookModal"><i class="bi bi-plus-circle"></i></button>
    </div>
  </div>
  <div class="form-group">
    {{form.amount_to_rent.label_tag}} {{form.amount_to_rent}}
  </div>
  <div class="form-group row">
    <div class="col-sm-8">
      {{form.customer.label_tag}} {{form.customer}}
    </div>
    <div class="col-sm-4 align-self-end">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCustomerModal"><i class="bi bi-plus-circle"></i></button>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-8">
      {{form.employee.label_tag}} {{form.employee}}
    </div>
    <div class="col-sm-4 align-self-end">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createEmployeeModal"><i class="bi bi-plus-circle"></i></button>
    </div>
  </div>
  <div class="form-group">
    {{form.due_date.label_tag}} {{form.due_date}}
  </div>
  <div class="form-group">
    {{form.status.label_tag}} {{form.status}}
  </div>
{% endblock %}

{% block modals %}
  <div class="modal fade" id="createBookModal" tabindex="-1" role="dialog" aria-labelledby="createBookModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dark" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="bookBodyModal">
          {% include 'book/book_create_form.html' with form=book_form %}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="createCustomerModal" tabindex="-1" role="dialog" aria-labelledby="createCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dark" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="customerBodyModal">
          {% include 'customer/customer_create_form.html' with form=customer_form %}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="createEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="createEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dark" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="employeeBodyModal">
          {% include 'employee/employee_create_form.html' with form=employee_form %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script>
    $(document).ready(function(){
      //only in the first page load and not in reload
      if(performance.navigation.type === 0) {
        var bookSelect = $('#bookSelect');
        bookSelect.empty();
        bookSelect.append('<option value="" selected="">---------</option>')
    
        var customerSelect = $('#customerSelect');
        customerSelect.empty();
        customerSelect.append('<option value="" selected="">---------</option>')
    
        var employeeSelect = $('#employeeSelect');
        employeeSelect.empty();
        employeeSelect.append('<option value="" selected="">---------</option>')
      }
  
      $('#librarySelect').on('change', function() {
          var selectedLibrary = $(this).val();
          $.ajax({
              url: '/libraries/rent/ajax/getLibrary/' + selectedLibrary,
              success: function(data){
                  var books = JSON.parse(data.books)
                  var bookSelect = $('#bookSelect');
                  bookSelect.empty();
                  bookSelect.append('<option value="" selected="">---------</option>')
                  $.each(books, function(index, book){
                      bookSelect.append('<option value="' + book.pk + '">' + book.fields.title + '</option>');
                  });
                  $('#availableBooks').val(0)
  
                  var customers = JSON.parse(data.customers)
                  var customerSelect = $('#customerSelect');
                  customerSelect.empty();
                  customerSelect.append('<option value="" selected="">---------</option>')
                  $.each(customers, function(index, customer){
                      customerSelect.append('<option value="' + customer.pk + '">' + customer.fields.first_name + ' ' + customer.fields.last_name + '</option>');
                  });
  
                  var employees = JSON.parse(data.employees)
                  var employeeSelect = $('#employeeSelect');
                  employeeSelect.empty();
                  employeeSelect.append('<option value="" selected="">---------</option>')
                  $.each(employees, function(index, employees){
                      employeeSelect.append('<option value="' + employees.pk + '">' + employees.fields.first_name + ' ' + employees.fields.last_name + '</option>');
                  });
              },
              error: function(xhr, status, error) {
                if(xhr.status == 404) {
                  var bookSelect = $('#bookSelect');
                  bookSelect.empty();
                  bookSelect.append('<option value="" selected="">---------</option>')

                  var customerSelect = $('#customerSelect');
                  customerSelect.empty();
                  customerSelect.append('<option value="" selected="">---------</option>')

                  var employeeSelect = $('#employeeSelect');
                  employeeSelect.empty();
                  employeeSelect.append('<option value="" selected="">---------</option>')

                  $('#availableBooks').val(0)
                }
              }
          });
      });

      $('#bookSelect').on('change', function() {
        var selectedBook = $(this).val();
        $.ajax({
          url: '/libraries/book/ajax/getAvailable/' + selectedBook,
          success: function(data){
            $('#availableBooks').val(data.availableBooks)
          },
          error: function(xhr, status, error) {
            if(xhr.status == 404) {
              $('#availableBooks').val(0)
            }
          }
        });
      });
    });
  </script>
  {% load static %}
  <script type="text/javascript" src="{% static 'main/js/bookModal.js' %}"></script>
  <script type="text/javascript" src="{% static 'main/js/customerModal.js' %}"></script>
  <script type="text/javascript" src="{% static 'main/js/employeeModal.js' %}"></script>
{% endblock %}