{% extends 'main/index.html' %}

{% block name_list %}Book{% endblock %}
{% block create_link %}{% url 'libraries:book_create' %}{% endblock %}
{% block model_name %}book{% endblock %}

{% block filter_inputs %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="filterValue" placeholder="Enter filter value">
                    <button class="btn btn-primary" onclick="filterBooks()"><i class="bi bi-box-arrow-in-right"></i></button>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row align-items-center mb-3">
                    <div class="col-md-6">
                        <select class="custom-select" id="filterGender" onchange="filterBooks()">
                            <option selected value="0">Select Gender</option>
                            {% for gender in genders %}
                                <option value="{{ gender.pk }}">{{ gender.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select class="custom-select" id="filterStatus" onchange="filterBooks()">
                            <option selected value="0">Select Status</option>
                            {% for status in statuses %}
                                <option value="{{ status.pk }}">{{ status.name }}</option>
                            {% endfor %}
                        </select>
                    </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block table_headers %}
    <th>Title</th>
    <th>Gender</th>
    <th>Quantity</th>
    <th>Author</th>
    <th>Library</th>
    <th>Status</th>
{% endblock %}

{% block table_fields %}
    <td>{{ item.title }}</td>
    <td>{{ item.gender }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.author }}</td>
    <td>{{ item.library }}</td>
    <td>{{ item.status }}</td>
{% endblock %}

{% block detail_link %}{% url 'libraries:book_detail' item.id %}{% endblock %}
{% block edit_link %}{% url 'libraries:book_update' item.id %}{% endblock %}

{% block no_list %}books{% endblock %}

{% block excel_button %}
    <div class="container text-center mt-2">
        <button class="btn btn-primary" onclick="downloadExcel()">Download Excel</button>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script>
        function filterBooks() {
            var filterValue = $("#filterValue").val();
            var filterGender = $("#filterGender").val();
            var filterStatus = $("#filterStatus").val();

            var libraryId = {{ library_id|default:"null" }};

            var url = libraryId ? "/libraries/library/"+libraryId +"/book/": 
                                    "/libraries/book/";

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    filter_value: filterValue,
                    filter_gender: filterGender,
                    filter_status: filterStatus
                },
                success: function (data) {
                    $('#model-table tbody').html(data.html);
                }
            });
        }

        $(document).ready(function() {
            $("#filterValue").keypress(function(event) {
                if(event.keyCode === 13) {
                    filterBooks()
                }
            })
        })

        window.onload = filterBooks
    </script>
    <script>
        function downloadExcel() {
            var filterValue = $("#filterValue").val();
            var filterGender = $("#filterGender").val();
            var filterStatus = $("#filterStatus").val();

            var libraryId = {{ library_id|default:"0" }};

            var url = '/libraries/book/download-excel/?library_id='+ 
                    encodeURIComponent(libraryId) +
                    '&filter_status_id=' + encodeURIComponent(filterStatus) +
                    '&filter_gender_id=' + encodeURIComponent(filterGender) +
                    '&filter_value=' + encodeURIComponent(filterValue)

            window.location.href = url
        }
    </script>
{% endblock %}