{% extends 'main/detail.html' %}

{% block back_link %}{% url 'libraries:book_index' %}{% endblock %}

{% block extra_fields %}
    <p class="card-text">Author: <a href="{% url 'persons:author_detail' model.author.id%}">{{ model.author }}</a></p>
    <p class="card-text">Library: <a href="{% url 'libraries:library_detail' model.library.id%}">{{ model.library }}</a></p>
    <p class="card-text">Published Date: {{ model.published_date }}</p>
    <p class="card-text">ISBN: {{ model.isbn }}</p>
    <p class="card-text">Quantity: {{ model.quantity }}</p>
    <p class="card-text">Rent Price: {{ model.rent_price }}</p>
    <p class="card-text">Sale Price: {{ model.sale_price }}</p>
    <p class="card-text">Status: {{ model.status }}</p>
{% endblock %}

{% block edit_link %}{% url 'libraries:book_update' model.id %}{% endblock %}