{% extends 'main/index.html' %}

{% block name_list%}Book{% endblock %}
{% block create_link %}{% url 'libraries:book_create' %}{% endblock %}
{% block model_name%}book{% endblock%}

{% block table_headers %}
    <th>Title</th>
    <th>Gender</th>
    <th>Quantity</th>
    <th>Author</th>
    <th>Library</th>
    <th>Status</th>
{% endblock %}

{% block table_fields%}
    <td>{{item.title}}</td>
    <td>{{item.gender}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.author}}</td>
    <td>{{item.library}}</td>
    <td>{{item.status}}</td>
{% endblock %}

{% block detail_link %}{% url 'libraries:book_detail' item.id%}{% endblock %}
{% block edit_link %}{% url 'libraries:book_update' item.id%}{% endblock %}

{% block no_list %}books{% endblock %}